body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-image: url("./resources/images/grass.png");
}
#gameArea {
    display: block;
    width: 100vh;
    height: 100vh;
    margin: auto;
    padding: auto;
    background-image: url("./resources/images/background.png");
    background-size: 100vh 100vh;
    position: relative;
}

#timer {
    position: absolute;
    left: -30vh;
    font-family: 'Exo', sans-serif;
    font-size: 10vh;
    z-index:1;
}

#timer.flashing {
    animation: flashing .5s 0s infinite;
}

@keyframes overlayInAnimation {
    from {
        transform: translateY(-50vh);
    }
    to {
        transform: translateY(0vh);
    }
}

.overlay {
    position: absolute;
    top: 10vh;
    left: 10vh;
    width: 80vh;
    height: 40vh;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10vh;
    border: 5px solid rgba(255, 255, 255, 0.6);
    color: white;
    animation: overlayInAnimation 1s cubic-bezier(.38,2,.5,1);
    z-index: 1;
}
.overlay * {
    text-align: center;
}
.overlay h1 {
    font-size: 5vh;
}
.overlay h3 {
    font-size: 2vh;
}

@keyframes flashing {
    from {
        opacity: 0;
        transform: scale(0.96);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.96);
    }
}
.pressEnter {
    margin-top: 10vh;
    animation: flashing 1s ease-in-out 0s infinite;
}
.pressC {
    margin-top: 3vh;
    animation: flashing 1s ease-in-out 0s infinite;
}
.keyboard {
    border: 1px solid white;
    padding: 0.5vh;
    border-radius: 0.5vh;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.people {
    animation: fadein 0.5s;
}